h1 {
	font-family: Helvetica;
	font-size: 70px;
	font-weight: bold;
	color: White;
	text-align: center;
	
}

.hero {
	background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
    background-size: cover;
    background-position: center;
}




h2 {
	font-family: Helvetica;
	font-size: 32px;
    font-weight: bold;
    text-align: center;
}

h3 {
	font-family: Helvetica;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
}

h4 {
	font-family: Helvetica;
	font-size: 23px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
    background-position: center;
    background-size: cover;
    
}

h5 {
	font-family: Helvetica;
	font-size: 11px;
	color: White;
	background-color: dimgray;
	}

a.cta {
	color: White;
}

div p {
	font-family: Helvetica;
	font-size: 18px;
	color: white;
	text-align: center;
}

#We {
	font-family: Helvetica;
	font-size: 14px;
	text-align: center;
}

#Coming {
	text-align: center;
	font-size: 14px;
	font-family: Helvetica;
}

#Phone {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

#focus {
	text-align: center;
	font-size: 14px;
	font-family: Helvetica;
	color: black
}

#study {
	text-align: center;
	font-size: 14px;
	font-family: Helvetica;
	color: black
}

#everything {
	text-align: center;
	font-size: 14px;
	font-family: Helvetica;
	color: black
}